/* .carousel .carousel-item > img {
  width: 260%;
  margin-left: -80%;
  margin-bottom: 10px !important;
  height: auto;
}

.tabs .indicator {
  background-color: #afafaf;
   Custom Color Of Indicator
} */
