md-card .card {
  background-color: transparent !important;
}

.pulsate-fwd:hover {
  color: #91e9ff;
}
.pulsate-fwd {
  color: aquamarine;
  -webkit-animation: pulsate-fwd 0.7s ease-in-out infinite both;
  animation: pulsate-fwd 0.7s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
