/* MainNavigation.js */

.brand-logo {
  padding-left: 20px !important;
}

@media (max-width: 600px) {
  .brand-logo {
    padding-left: 5px !important;
  }
}

.icon-button:hover,
.icon-button.active {
  color: aqua !important;
}
